.subscribe-button {
  background-color: rgb(204, 0, 0);
  border: none;
  border-radius: 3px;
  color: white;
  height: 36px;
  width: 105px;
  cursor: pointer;
  margin-right: 8px;
  transition: opacity 0.15s;
  vertical-align: top;
}
.subscribe-button:hover {
  opacity: 0.7;
}
.subscribe-button:active {
  opacity: 0.5;
}
.join-button {
  width: 60px;
  height: 36px;
  color: blue;
  border: 1px solid rgb(6, 95, 212);
  border-radius: 3px;
  background-color: white;
  cursor: pointer;
  transition: background-color 0.15s, color 0.15s;
}
.join-button:hover {
  background-color: rgb(29, 155, 240);
  color: white;
}
.join-button:active {
  opacity: 0.8;
}
.tweet-button {
  background-color: rgb(0, 123, 255);
  border: none;
  color: white;
  width: 70px;
  height: 36px;
  border-radius: 18px;
  font-weight: bold;
  font-size: 15px;
  margin-left: 8px;
  cursor: pointer;
  transition: box-shadow 0.15s;
}
.tweet-button:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
